html,body {
margin:0;
padding:0;
overflow-x:hidden;
}


.jumbotron{
	background-color: #9575CD;
	color: floralwhite;
}


.history{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}